@using UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var site = Model.Root<Home>();
}

@if (site?.MainNavigation != null)
{
    <div class="topnav" id="myTopnav">
        @foreach (var umbNavItem in site.MainNavigation)
        {
            if(umbNavItem.Children != null && umbNavItem.Children.Any())
            {
                <div class="dropdown">
                    <button class="dropbtn nav-link @(UmbracoContext?.PublishedRequest?.PublishedContent != null && umbNavItem.IsActive(UmbracoContext?.PublishedRequest?.PublishedContent) ? "nav-link--active" : null)">@umbNavItem.Name
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="@umbNavItem.Url()">@umbNavItem.Name</a>
                        @foreach (var child in umbNavItem.Children)
                        {
                            <a href="@child.Url()">@child.Name</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <a class="nav-link @(UmbracoContext?.PublishedRequest?.PublishedContent != null && umbNavItem.IsActive(UmbracoContext?.PublishedRequest?.PublishedContent) ? "nav-link--active" : null)" href="@umbNavItem.Url()">@umbNavItem.Name</a>
            }
        }
    </div>
}